body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //color: #2c3e50;
}

.page {
  max-width: 1080px;
  padding: 32px;
  margin: 0 auto;
}

.button {
  display: inline-flex;
  background: #2c3e50;
  padding: 8px 12px;
  color: rgba(255, 255, 255, 0.95) !important;
  border-radius: 5px;
  text-decoration: none !important;

  strong {
    color: #fff;
  }
}

.command {
  padding: 0 4px;
  font-family: 'Courier';
  font-weight: 500;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.userstory {
  padding-left: 32px;
  font-size: 22px;
  font-style: italic;
  border-left: 3px solid #000;
}

.prose {
  max-width: 120ch;
}
